/* Common Starts Here */
body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: #F8F8FF;
    display: flex;
    flex-direction: column;
}
p, h2, h3 {
    color: #F8F8FF;
    width: 95%;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.header {
    display: block;
}
.header__nav {
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 11px;
  z-index: 1;
  background-color: #aaaabc;
}
.header__nav-list {
  display: flex;
  justify-content: start;
}
.header__nav-list > li{

  list-style: none;
  text-decoration: none;
  padding: 8px;
} 
ul.header__nav-list {
    margin: 0px;
    padding-left: 0px;
    justify-content: center;
}
.header__nav-link {
  text-decoration: none;
  font-size: 12px;
}
.header__nav-link:hover {
    text-decoration: underline;
}
.header__nav-link:active {
    color: #2F365F;
    text-decoration: underline;
    font-weight: bold;
}

.header-end {
  margin: 0px;
}
audio, video {
    z-index: -1;
}
main {

    background-color: #454555;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 0px;
    overflow: hidden;
    min-height: 100%;
}
table, th, td {
  border: 1px solid;
  padding: 8px;
}
hr {
    margin: 0px;
    border: none;
}
.index-main {
    margin-bottom: -5px;
}
.main-end {
    margin: 0px;
    background-color: #407088;
}
footer {
    background-color: #434463;
    margin-top: 0px;
}
/* Common Ends Here*/

/* Index Page Starts Here */
.index-main__article-h3 {
    margin-top: 0px;
    color: #F8F8FF;
    width: 95%;
    margin-left: 6px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 14px;
  }
  .index-main__name {
    color: #F9F871;
    font-size: small;
    font-weight: bold;
    font-family: verdana;
  }
  .index-main {
    margin-bottom: -5px;
}
.index-main__aside-image {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
}
.index-main__aside-image-2 {
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-left: 0px;
    margin-bottom: 8px;
}
.index-main__article-h3-2 {
    margin-top: 0px;
    color: white;
    width: 95%;
    margin-left: 6px;
    margin-bottom: 0px;
    font-size: small;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
.footer__header-index {
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: medium;
    margin-bottom: 5px;
}
.footer__left-side {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-left: 3px;
  margin-right: 5px;
}
.footer__phone-index {
  display: flex;
  width: 130px;
  margin-right: 0px;
}
.footer__image-phone-index {
  width: 24px;
  height: 24px;
  width: 30px;
  display: inline-block;
}
.footer__paragraph-phone-index {
  font-size: 10px;
  display: inline-block;
  margin-left: 3px;
  margin-top: 5px;
  vertical-align: top;
  width: 100%;
}
.footer__email-index {
    display: flex;
    width: 130px;
}
.footer__email-index-image {
    width: 24px;
    height: 24px;
    display: inline-block;
}
.footer__email-index-paragraph {
    font-size: 12px;
  display: inline-block;
  margin-left: 3px;
  margin-top: 5px;
  vertical-align: top;
  width: 100px;
}
.footer__link-email-index {
    color: white;
    text-decoration: none;
}
.footer__linkedin-index {
    display: flex;
  width: 130px;
}
.footer__linkedin-index-image {
    width: 24px;
    height: 24px;
    display: inline-block;
}
.footer__linkedin-index-paragraph {
  font-size: 12px;
  display: inline-block;
  margin-left: 3px;
  margin-top: 5px;
  vertical-align: top;
  width: 100px;
}
.footer__link-linkedin-index {
    color: white;
    text-decoration: none;
}
.footer__aside {
    display: inline-block;
    width: 45%;
    margin-right: 0px;
}
.footer__aside > h2 {
    font-size: medium;
    margin-top: 2px;
}
iframe {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
}
.footer__iframe-paragraph {
    display: inline-block;
    margin-left: 4px;
    width: 45%;
}
.footer__iframe-paragraph > p {
    margin-top: 0px;
}
/* Index page Ends Here*/


/* About Page Starts Here */
.about-main {
    margin-bottom: -10px;
}
.childhood__title {
    margin-top: 0px;
    margin-bottom: 5px;
}
#first-child {
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 8px;
}
.childhood__picture.first-childhood__picture{
    width: 30%;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
}
.childhood__article.first-childhood__article {
    width: 60%;
    display: inline-block;
    margin-right: 6px;
}
.childhood__article.first-childhood__article > h3 {
    margin-top: 0px;
    font-size: 12px;   
}
.cathedral-school {
    color: white;
    text-decoration: none;
}
.childhood__video.first-childhood__video {
    width: 90%;
    justify-content:center;
}
#second-child {
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 8px;
}
.childhood__picture.second-childhood__picture {
    width: 30%;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
}
.childhood__article.second-childhood__article {
    width: 60%;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
}
.childhood__text {
    margin-top: 0px;
}
.childhood__video.second-childhood__video {
    width: 90%;
    justify-content:center;
}
#third-child {
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 8px;
}
.childhood__picture.third-childhood__picture {
    width: 30%;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
}
.childhood__article.third-childhood__article {
    width: 60%;
    display: inline-block;
    margin-right: 6px;
}
.childhood__text.third-child__paragraph {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
.childhood__video.third-childhood__video {
    margin-top: 5px;
    width: 90%   
}
#hobbies-tag {
    margin-bottom: 0px;
    font-size: 25px;
}
.hobbies__subtitle {
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 25px;
}
.hobbies__paragraph.first-hobby-paragraph {
    margin-top: 0px;
}
.hobbies__book-link {
    color: white;
    text-decoration: none;
}
.hobbies__book-link:hover {
    color: black;
    text-decoration: underline;
}
.hobbies__book-link:visited {
    color: #F9F871;
}
.hobbies__paragraph.second-hobby-paragraph {
    margin-top: 0px;
}
.hobbies__audio {
    width: 100%;
    color: #2F365F;
}
#hobbies__item.third-hobby-tag {
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 25px;
}
.hobbies__paragraph.third-hobby-paragraph {
    margin-top: 0px;
}
.hobbies__video-container.third-hobby-video {
    width: 90%;
}
.hobbies__video.video-third {
    width: 100%;
}
.hobbies__image.writing-picture {
    width: 100%;
}
.hobbies__paragraph.fourth-hobby-paragraph {
    margin-top: 0px;
}
 .hobbies__paragraph.fifth-hobby-paragraph {
    margin-top: 8px;
}
.youtubers__link {
    color: white;
    text-decoration: none;
}
.youtubers__link:hover {
    color: black;
    text-decoration: underline;
}
.youtubers__link:visited {
    color: #F9F871;
}
.hobbies__paragraph.sixth-hobby-paragraph {
    margin-top: 0px;   
}
.footer__nav footer__nav.about-nav > p {
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 5px;
}
.footer__nav.about-nav > ul {
    margin: 0px;
}
.footer__nav.about-nav > ul > li > a {
    color: white;
    text-decoration: none;
}
.footer__nav.about-nav > ul > li > a:hover {
    color: black;
    text-decoration: underline;
}
.footer__nav.about-nav > ul > li > a:visited {
    color: #F9F871;
}
.about-end {
    width: 0px;
    margin: 0px;
}
.about-main {
    margin-bottom: -29px;
}
/* About Page Ends Here */



/* Education Page Starts Here */
.education-main {
    margin-bottom: -10px;
}
.education-main__quote {
    font-family: geneva;
    color: #D5E9E8;
    background-color: #00002A;
}
.education-main__school-list {
    margin-bottom: 0px;
}
.education-main__school-link {
    color: white;
    text-decoration: none;
}
.education-main__school-link:hover {
    color: black;
    text-decoration: underline;
}
.education-main__school-link:visited {
    color: #F9F871;
}
.education-main__school-image {
    width: 28%;
    display: inline-block;
}
#olive {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.education-main__school-description {
    margin-top: 0px;
    margin-right: 0px;
    width: 68%;
    display: inline-block;
    vertical-align: top;
}
#cathe {
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.lccs-first__logo {
    width: 28%;
    display: inline-block;
}
.lccs-first__description {
    margin-top: 0px;
    margin-right: 0px;
    width: 68%;
    display: inline-block;
    vertical-align: top;
}
#cathe-two {
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.cathe-education-two__image.cathedral-church {
    width: 28%;
    display: inline-block;
}
.cathe-education-two__text.cathedral-second {
    margin-top: 0px;
    margin-right: 0px;
    width: 68%;
    display: inline-block;
    vertical-align: top;
}
.education-pictures {
    border: 1px solid black; 
    justify-content: space-around;
    display: flex;
    overflow-x: auto;
    margin: 7px;
    border-radius: 12px;
}
.education-pictures__photo {
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.education-left {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.education-footer-header {
    margin-top: 4px;
    margin-bottom: 4px;
}
.education-footer-phone {
    display: flex;

}
.education-phone-image {
    margin-top: 0px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.education-phone-number {
    font-size: 12px;
    display: inline-block;
    margin-left: 3px;
    margin-top: 5px;
    vertical-align: top;
    width: 100px;  
}
.education-footer-email {
    display: flex;
}
.education-email-image {
    margin-top: 0px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.education-email-paragraph {
    text-decoration: none;
    margin-top: 0px;
}
.education-email-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    margin-left: 3px;
    margin-top: 5px;
    vertical-align: top;
    width: 100px;  
}
.education-email-link:hover {
    color: black;
    text-decoration: underline;
}
.education-email-link:visited {
    color: #F9F871;
}
.education-right {
    display: inline-block;
    width: 45%;
}
.education-right-paragraph {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    margin-left: 20px;
}
.education-right-list {
    margin-top: 0px;
}
.education-right-list > li > a {
    color: white;
    text-decoration: none;
}
.education-right-list > li > a:hover {
    color: black;
    text-decoration: underline;
}
.education-right-list > li > a:visited {
    color: #F9F871;
}
.about-goto {
    margin-top: 48px;
    margin-bottom: 6px;
    font-size: 25px;
}
.education-main {
    margin-bottom: -19px;
}

/* Education Page Ends Here */

/* Goal Page Starts Here */
.goal-article__header {
    margin: 0px;
}
.goal-article {
    margin-top: 0px;
}
.goal-unordered > li {
    font-size: 14px;
}
#physical_growth__title {
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 25px;
}
.first-goal__main.physical-goal-main {
    display: flex;
}
.figure-goal-first__image.physical-image {
    width: 100%;
    display: inline-block;
}
.physical-goal-main__figure.figure-goal-first {
    margin: 0px;
    display: inline-block;
    width: 30%;
}
.physical-goal-main__paragraph.first-goal-paragraph {
    width: 67%;
    margin-top: 0px;
    margin-left: 8px;
}
.physical-table-first {
    width: 100%;
}
#educational_growth__title {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 25px;
}
.figure-goal-second__educational-image {
    width: 100%;
    display: inline-block;
}
.educational-goal-main__figure.figure-goal-second {
    margin: 0px;
    display: inline-block;
    width: 28%;
    vertical-align: top;
}
.educational-growth__second-goal.second-goal-paragraph {
    width: 67%;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 8px;
    display: inline-block;
}
.first-goal__education-table.education-table-first {
    width: 100%;
}
.work-goal-main__figure.figure-goal-third {
    margin: 0px;
    display: inline-block;
    width: 30%;
    vertical-align: top; 
}
.work-growth__third-goal.third-goal {
    display: flex;
}
.figure-goal-third__work-image {
    width: 100%;
    display: inline-block;
}
.work-goal-main__third-goal-paragraph.third-goal-paragraph {
    width: 67%;
    margin-top: 0px;
    margin-left: 8px;
    display: inline-block;
}
#work_growth__title {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 25px;
}
.third-goal__work-table {
    width: 100%;
}
.education-left {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-left: 3px;
    margin-right: 5px;
  }
  .education-footer-header {
    font-size: 18px;
  }
  .education-footer-phone {
    display: flex;
    width: 130px;
    margin-right: 0px;
  }
  .education-footer-image {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .education-phone-number {
    font-size: 12px;
    display: inline-block;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 5px;
    vertical-align: top;
    width: 100px;
  }
  .education-footer-email {
      display: flex;
      width: 130px;
  }
  .email-education-image {
      width: 24px;
      height: 24px;
      display: inline-block;
  }
  .education-index-paragraph {
    display: inline-block;
    margin-left: 3px;
    margin-top: 5px;
    vertical-align: top;
    width: 100px;
  }
  .link-education-index {
      color: white;
      text-decoration: none;
  }
  .education-goto {
    margin-left: 38px;
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 18px;
  }
  .unordered-education {
    margin-top: 4px;
    margin-left: 0px;
  }
  .unordered-education > li > a {
    color: white;
    text-decoration: none;
}
.unordered-education > li > a:hover {
    color: black;
    text-decoration: underline;
}
.unordered-education > li > a:visited {
    color: #F9F871;
}
.goal-main {
    margin-bottom: -5px;
}
  
/* Goal Page Ends Here */

/* Experience Page Starts Here */
.experience-main {
    margin-bottom: -4px;
}
#tutoring {
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 7px;
    font-size: 25px;
}
.experience-tutoring__paragraph {
    margin-top: 0px;
    margin-bottom: 0px;
}
#stem {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 7px;
}
.stem-pictures {
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
    object-fit: cover;
    border-radius: 12px;
    margin: 7px;
}
.stem-pictures > img {
    width: 100%;
}
.experience-stem-power__paragraph {
    margin-top: 7px;
}
#volunteer {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 7px;
}
.volunteering-experience__image {
    width: 100%;
    margin-bottom: 7px;
}
.volunteer-paragraph {
    margin-top: 0px;
    font-size: 12px;
}
#coursera {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 7px;
}
.coursera-experience__data_science > img {
    width: 28%;
    display: inline-block;
}
.coursera-experience__paragraph {
    margin: 0px;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
.python_one {
    width: 48%;
    display: inline-block;
}
.coursera-experience__paragraph_2 {
    margin: 0px;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
.python_one > img {
    width: 28%;
    display: inline-block;
}
.coursera-experience__python_one {
    margin-top: 5px;
}
.coursera-experience__python_one > img {
    width: 30%;
    display: inline-block;
}
.coursera-experience__python_two {
    margin-top: 5px;
}
.coursera-experience__python_two > img {
    width: 30%;
    display: inline-block;
}
.coursera-experience__front-end {
    margin-top: 5px;
}
.coursera-experience__front-end > img {
    width: 30%;
    display: inline-block;
}
#sat {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 7px;
}
.sat-experience__image {
    width: 30%;
    display: inline-block;
}
.sat-experience__paragraph {
    margin: 0px;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
#duolingo {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 7px;
}
.duolingo-experience > img {
    width: 30%;
    display: inline-block;
}
.duolingo-experience__paragraph {
    margin: 0px;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
.final-unordered {
    margin-top: 4px;
    margin-left: 0px;
}
.final-unordered > li > a {
    color: white;
    text-decoration: none;
}
.final-unordered > li > a:hover {
    color: black;
    text-decoration: underline;
}
.final-unordered > li > a:visited {
    color: #F9F871;
}
.copyright {
    color: #F9F871;
    margin-right: 5px;
    margin-left: 5px;
}
.city {
    margin-right: 5px;
}
.experience-main {
    margin-bottom: -5px;
}
/* Goal Page Ends Here */


@media (min-width: 480px) {
    .header__nav-list {
        justify-content: right;
        margin-right: 5px;
    }
    .header__nav-link {
        float: right;
        font-size: 14px;
        padding: 4px;
        font-size: 20px;
    }
    p, h2, h3, li, a, td {
        font-size: 16px;
    }
    th {
        font-size: 18px;
    }
    /*Common Ends Here */
    
    /* Index Starts Here */
    .index-main__name {
        font-size: 18px;
    }
    .index-main__article-h3 {
        width: 100%;
        display: inline-block;
        padding-top: 10px;
    }
    .index-main__article {
        display: inline-block;
        width: 55%;
    }
    .index-main__aside-image {
        width: 100%;
        font-size: 8px;
        display: inline-block;
        vertical-align: auto;
        margin-left: 15px;
        padding-top: 10px;
    }
    .index-main__aside {
        width: 40%;
        display: inline-block;
        vertical-align: top;
    }
    .index-main__article-h3-2 {
        width: 100%;  
        font-size: 16px;   
        display: inline-block;
    }
    .index-main__aside-image-2 {
        width: 40%;
        font-size: 8px;
        display: inline-block;
        vertical-align: auto;
        margin-left: 15px;
    }
    .index-main__article-2 {
        display: inline-block;
        width: 55%;
    }
    .footer__header-index {
        font-size: 20px;
    }
    .footer__left-side > div > p {
        font-size: 16px;
    }
    .footer__aside > h2 {
        font-size: 20px;
    }
    .footer__phone-index {
        width: 100%;
    }
    .footer__paragraph-phone-index {
        width: 200px;
    }
    /* Index Page Ends Here*/
    /* About Page */
    .childhood__title {
        padding-top: 10px;
    }
    .childhood__item.first-childhood {
        display: inline-block;
        width: 48%;
        vertical-align: top;

    }
    .childhood__content.first-childhood__content > article > h3 {
        width: 100%;
        font-size: 16px;

    }
    .childhood__item.second-childhood {
        display: inline-block;
        width: 48%;
    }
    .childhood__content.second-childhood__content > article > h3 {
        width: 100%;
        font-size: 15px;
}
    .childhood__item.third-childhood {
        display: inline-block;
        width: 48%;
    }
    .third-child-third > article > h3 {
        width: 100%;
        font-size: 15px;
}
    #hobbies-tag {
        font-size: 34px;
    }
    #hobbie__item.first-hobbie-tag {
        font-size: 25px;
    }
    .hobbies__item.first-hobby {
        display: inline-block;
        width: 48%;
    }
    .hobbies__item.second-hobby {
        vertical-align: top;
        display: inline-block;
        width: 48%;
    }
    .hobbies__item.third-hobby {
        display: inline-block;
        width: 48%;
    }
    .hobbies__item.fourth-hobby {
        vertical-align: top;
        display: inline-block;
        width: 48%;
    }
    .hobbies__item.fifth-hobby {
        display: inline-block;
        width: 48%;
    }
    .hobbies__item.sixth-hobby {
        vertical-align: top;
        display: inline-block;
        width: 48%;
    }
    /*About Page Ends Here*/
    /*Education Page */
    .education-main__school-first {
        display: flex;
    }
    .education-main__school-image {
        height: 100%;
    }
    .lccs-first__education {
        display: flex;
    }
    .lccs-first__logo {
        height: 100%;
    }
    .cathe-education-two {
        display: flex;
    }
    .cathe-education-two__image.cathedral-church {
        height: 100%;
    }
    .physical-growth__first-goal.first-goal {
        display: flex;
    }
    .physical-goal-main__figure.figure-goal-first {
        height: 100%;
    }
    .first-goal__education-table.education-table-first {
        height: 100%;
    }
    .educational-growth__second-goal.second-goal {
        display: flex;
    }
    .second-goal__educational-goal-main.educational-goal-main {
        display: flex;
    }
    .second-goal__grades-table {
        height: 100%;
    }
    .educational-goal-main__figure.figure-goal-second {
        height: 100%;
    }
    .work-growth__third-goal.third-goal {
        display: flex;
    }
    .work-goal-main__figure.figure-goal-third {
        height: 100%;
    }
    .third-goal__work-table {
        height: 100%;
    }
    .coursera-experience__data_science {
        display: inline-block;
        width: 48%;
    }
    .coursera-experience__python_one {
        display: inline-block;
        width: 48%;
    }
    .coursera-experience__python_two {
        display: inline-block;
        width: 48%;
    }
    .coursera-experience__front-end {
        display: inline-block;
        width: 48%;
    }
    .sat-experience {
        display: inline-block;
        width: 48%;
    }
    .duolingo-experience {
        display: inline-block;
        width: 48%;
    }
    /*Educational Page Ends Here*/
    /* Goal Page*/
    .goal-article__header {
        padding-top: 16px;
    }
    /* Goal Page Ends Here */
    /* Experience Page*/
    #tutoring {
        padding-top: 15px;
    }
    /* Experience Page Ends Here*/
}
@media (min-width: 768px) {
    ul.header__nav-list {
        justify-content: right;
        margin-right: 5px;
    }
    .header__nav-link {
        float: right;
        font-size: 28px;
        
    }
    p, h2, h3, li, a, td, article, q, footer {
        font-size: 28px;
    }
    th {
        font-size: 18px;
    }
    /* Common Ends Here */

    /*Index Starts Here */
    .index-main__name {
        font-size: 28px;
    }
    .index-main__aside-image {
        padding-top: 25px;
    }
    .index-main__article-h3 {
        width: 100%;
        font-size: 13px;
        display: inline-block;
        padding-top: 25px;
    }
    .index-main__article-h3 {
        font-size: 28px;
    }
    .index-main__article-h3-2 {
        font-size: 28px;
    }
    .footer__header-index {
        font-size: 28px;
    }
    .footer__left-side > div > p {
        font-size: 24px;
    }
    .footer__aside > h2 {
        font-size: 20px;
    }
    .footer__phone-index {
        width: 100%;
    }
    /* About Page */
    .childhood__title {
        padding-top: 20px;
    }
    .childhood__content.first-childhood__content > article > h3 {
        font-size: 28px;
    }
    .childhood__content.second-childhood__content > article > h3 {
        font-size: 27px;
    }
    /*Goal Page */
    .goal-article__header {
        padding-top: 24px;
    }
    /* Goal Page Ends Here */
    /* Experience Page*/
    #tutoring {
        padding-top: 20px;
    }
    /* Experience Page Ends Here*/

}

@media (min-width: 1024px) {
    #tutoring {
        font-size: 40px;
    }
    #stem {
        font-size: 40px;
    }
    #volunteer {
        font-size: 40px;
    }
    #coursera {
        font-size: 40px;
    }
    #sat {
        font-size: 40px;
    }
    #duolingo {
        font-size: 40px;
    }
    .volunteer-paragraph {
        font-size: 30px;
    }
    p {
        font-size: 30px;
    }
    .childhood {
        margin-right: 0px;
        padding-right: 0px;
    }
    .childhood__item.first-childhood {
        display: inline-block;
        width: 33%;
    }
    .childhood__item.second-childhood {
        display: inline-block;
        width: 33%;
        vertical-align: top;
    }
    .childhood__item.third-childhood {
        display: inline-block;
        width: 33%;
    }
    /* Experience Page*/
    #tutoring {
        padding-top: 25px;
    }
    /* Experience Page Ends Here*/

}